
.blogTopMedia{
    width: 90px;
    height:100px;
    object-fit: contain;
}
.formLabels{
    font-size: 13px;
    font-weight: bold;
    opacity: 0.9;
}
select.form-select option,select {
    color: rgb(102, 93, 93);
}
.CommonLighColor  input{
    font-size: 15px;
}
.ContactInfo{
    font-size: 15px;
}
.btnContact{
    background-color: rgb(119, 133, 207);
    font-size:17px ;
    font-weight: bold;
}
.btnContact:hover{
    background-color: rgb(154, 159, 184);
}



